@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;
}
b{
  color: #3b82f6;
}
.profile-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2563eb;
  transition: transform 0.3s ease;
}

.profile-photo:hover {
  transform: scale(1.05);
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-offset {
  padding-top: 85px;
  margin-top: -85px;
}

.timeline-container {
  position: relative;
  padding-left: 30px;
}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #3b82f6;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3b82f6;
}

.proficiency-bar {
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 5px;
  overflow: hidden;
}

.proficiency-level {
  height: 100%;
  background-color: #3b82f6;
}

.contact-icon {
  color: #3b82f6;
  transition: color 0.3s ease;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact-icon:hover {
  color: #2563eb;
}

.contact-label {
  margin-top: 5px;
  color: #4b5563;
  font-size: 1rem;
  font-weight: bold;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.contact-item:hover {
  color: #2563eb;
}

.flex-wrap {
  gap: 20px;
}

.list {
  color: #000000;
}

.list:hover {
  color: #2563eb;
  text-decoration: underline;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.badge {
  min-width: 150px;
  margin-right: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
.red{
  color: #f00;
  font-size: x-small;
}
